{% extends 'base_template1.html' %} 
{% load static from staticfiles %} 
{% load crispy_forms_tags %}

<!DOCTYPE html> 

{% block title %} Status {% endblock %} 

{% block content %}
<style type="text/css">
    .asteriskField {
        display: none;
    }
</style>
<div class="row justify-content-center my-5">
    <div class="col-6">
        <div class="card border-secondary mb-3">
            <h1 class="card-header">Flight Details</h1>
            <div class="card-body">
                <form method="POST" novalidate>
                    {% csrf_token %} 
                    {{ form|crispy }}
                    <div class="modal-footer">
                        <a href="{% url 'passenger_list'%}">
                            <button type="button" class="btn btn-secondary">Cancel</button>
                        </a>
                        <button type="submit" class="btn btn-primary">Update Details</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}