{% extends 'base_template2.html' %} 
{% load crispy_forms_tags %} 
{% load static from staticfiles %}

<head>
    <title>
        {%block title%} Login {%endblock%}
    </title>
</head>
{% block content %}
<style type="text/css">
    .asteriskField {
        display: none;
    }
    
    .requiredField {
        font-weight: bold;
        color: teal;
    }
    
    form .alert ul li {
        list-style: none;
    }
    
    form .alert ul {
        padding: 0;
        margin: 0;
    }
</style>
<div class="row justify-content-center my-5">
    <div class="col-4">
        <div class="card border-secondary mb-3">
            <h1 class="card-header">Login</h1>
            <div class="card-body">
                <form class='site-form' method="post" novalidate>
                    {% csrf_token %} {{ form|crispy }}
                    <button type="submit" class="btn btn-outline-primary">Log In</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}