{% extends 'base_template1.html' %} 
{% load static from staticfiles %} 
{% load crispy_forms_tags %}

<!DOCTYPE html> 
{% block title %} Crew {% endblock%} 

{%block content%}
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
{% if passengers %}
<p id="fli"><u><b><i>Passenger:</i></b></u></p>
<table class="table table-bordered" id="flight">
    <thead>
        <tr>
            <th class="text-center" scope="col">PNR</th>
            <th class="text-center" scope="col">Name</th>
            <th class="text-center" scope="col">Date Of Birth</th>
            <th class="text-center" scope="col">Passport number</th>
            <th class="text-center" scope="col">Flight Number</th>
            <th class="text-center" scope="col">Update / Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for passenger in passengers %}
        <tr>
            <td class="text-center">{{passenger.pnr}}</td>
            <td class="text-center">{{passenger.name}}</td>
            <td class="text-center">{{passenger.dob}}</td>
            <td class="text-center">{{passenger.passport_no}}</td>
            <td class="text-center">{{passenger.fl_no}}</td>
            <td class="text-center">
                <a href="{% url 'passenger_update' passenger.pk %}">
                    <button type="button" class="update-status btn btn-sm btn-primary">
                        <span class="fa fa-pencil"></span>
                    </button>
                    <form action="{% url 'passenger_delete' passenger.pk %}" method='POST' style="display: inline;">
                        {% csrf_token %}
                        <input type='hidden' name='pnr-no' value="{{passenger.pnr}}" />
                        <button type="submit" class="delete-status btn btn-sm btn-danger">
                            <span class="fa fa-trash"></span>
                        </button>
                    </form>
        </tr>
        {%endfor%}
    </tbody>
</table>

<a href='{% url "passenger_add" %}'>
    <button type="button" class="butra button1ra">Add passenger</button>
</a>
<button type="button" class="butrb button2rb" data-toggle="modal" data-target="#Hello_Modal">Search Passengers Details</button>

<!-- Searching Passenger Details -->

<div class="modal fade" id="Hello_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method='POST' action="{% url 'passenger_search' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="formGroupExampleInput">Flight Number:</label>
                        <input type="text" class="form-control" name='textfield' id="formGroupExampleInput" placeholder="Enter Flight Number here">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class='container my-5 col-6'>
    <div class="jumbotron jumbotron-fluid ">
        <div class="container">
            <div class='row justify-content-center'>
                <h1 class="display-5">No Passenger Details Present</h1>
            </div>
            <div class='row justify-content-center'>
                <p class="lead">Click on the button below to add a new entry</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <a href="{% url 'passenger_add' %}">
            <button type="button" class="btn btn-primary ">Add Passenger Details</button>
        </a>
    </div>
</div>
{% endif %} 
{% endblock %}